<p>Die Liste funktioniert!</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Serientitel</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let s of shows">
      <tr *ngIf="!toEdit(s)">
        <td>{{ s.id }}</td>
        <td>{{ s.title }}</td>
        <td><button class="material-icons" (click)="edit(s)">edit</button></td>
        <td>
          <button class="material-icons" (click)="delete(s)">delete</button>
        </td>
      </tr>
      <tr *ngIf="toEdit(s)">
        <td><input [(ngModel)]="s.id" /></td>
        <td><input [(ngModel)]="s.title" /></td>
        <td colspan="2" class="material-icons" (click)="saveEdit()">
          <button>save</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
