<p></p>
<form>
  <h2>Serie hinzufügen:</h2>
  <div class="mb-2">
    <label for="newShowID">ID:</label>
    <input
      class="form-control"
      id="newShowID"
      name="newShowID"
      type="number"
      placeholder="Hier die ID der Serie eingeben!"
      [(ngModel)]="show.id"
    />
  </div>
  <div>
    <label for="newShowName">Name:</label>
    <input
      class="form-control"
      id="newShowName"
      name="newShowName"
      type="string"
      placeholder="Hier den Namen der Serie eingeben!"
      [(ngModel)]="show.title"
    />
  </div>

  <button type="submit" class="btn btn-primary" (click)="save()">
    Absenden
  </button>
</form>
